{% extends 'layout.html' %}

{% block css %}
<style>
    .icon img{
        height:35px;
        width:auto;
    }
    .icon{
        width:60px;
        height:60px;
        border-radius:50%;
        background: #341f92;
        padding:10px;
        margin:-38px auto 10px;
        box-shadow:0 1px 3px #044434;
        text-align:center
    }
    #imgtile{
        width:60px;
        height:60px;
        background: #7b1f92;
        padding:10px;
        border-radius: 10%;
    }
    .sign-tile{
        margin:20px auto;
        background:#fff;
        border:1px solid #ccc;
        padding:10px;
        background-color:#eaeaea;
        border-radius:5px;
        border-bottom:5px solid #e5e5e5;
        cursor:pointer;
        color:#000!important
    }
    .sign-tile:hover{
        background-color: #6acabd;
        border-radius:5px 5px 10px 10px;
        box-shadow:0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
        transition:all .6s;
        border-bottom:5px solid #333
    }
    .sign-tile-holder{
        margin: 30px;
        padding: 5px;
    }
    .padding-top-20{
        padding-top:20px
    }
    .padding-10{
        padding: 10;
    }
    .padding-20{
        padding: 20px;
    }
    .row .col{
        margin: 5px 20px;
        width: 80%;
    }
    #dailyhoro{
        width: 90%;
        margin: auto;
    }
    .section-headings{
        margin-top: 50px;
    }
    .section-headings h1 {
        margin: 22px 0 0;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 800;
        position: relative;
        color: #380101;
    }
    .margin-5per-rl{
        margin: auto 5%;
    }
    .margin-2{
        margin: 2px;
        width: 50%;
    }
    .heading{
        padding: 5px;
    }
    .content{
        padding: 10px;
    }
    .text-sm{
        font-size: 85%;
    }
    .noborder{
        border: none;
    }
</style>
{% endblock %}

{% block body %}
<section class="text-center" id="dailyhoro">
    <div class="row">
        <div class="col-md-12">
            <div class="section-headings aboutus">
                <h1>FREE DAILY HOROSCOPE</h1>
                <h4>What kind of day will it be for you today? Use your free horoscope to plan your day, every day – instantly!</h4>
            </div>
        </div>
    </div>
    <div class="row sign-tile-holder">
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-aries" id="mydiv">
                    <img src="../static/images/aries.png" alt="aries">
                </div>
                <p>Aries</p>
                <p>Mar 21 - Apr 19</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-taurus">
                    <img src="../static/images/taurus.png" alt="taurus">
                </div>
                <p>Taurus</p>
                <p>Apr 20 - May 20</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-gemini">
                    <img src="../static/images/gemini.png" alt="gemini">
                </div>
                <p>Gemini</p>
                <p>May 21 - Jun 20</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-cancer">
                    <img src="../static/images/cancer.png" alt="cancer">
                </div>
                <p>Cancer</p>
                <p>Jun 21 - Jul 22</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-leo">
                    <img src="../static/images/leo.png" alt="leo">
                </div>
                <p>Leo</p>
                <p>Jul 23 - Aug 22</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-virgo">
                    <img src="../static/images/virgo.png"alt="virgo">
                </div>
                <p >Virgo</p>
                <p>Aug 23 - Sep 22</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-libra">
                    <img src="../static/images/libra.png" alt="libra">
                </div>
                <p>Libra</p>
                <p>Sep 23 - Oct 22</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-scorpio">
                    <img src="../static/images/scorpio.png" alt="scorpio">
                </div>
                <p>Scorpio</p>
                <p>Oct 23 - Nov 21</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-sagittarius">
                    <img src="../static/images/sagittarius.png" alt="sagittarius">
                </div>
                <p>Sagittarius</p>
                <p>Nov 22 - Dec 21</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-capricorn">
                    <img src="../static/images/capricorn.png" alt="capricorn">
                </div>
                <p>Capricorn</p>
                <p>Dec 22 - Jan 19</p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-aquarius">
                    <img src="../static/images/aquarius.png" alt="aquarius">
                </div>
                <p>Aquarius </p>
                <p>Jan 20 - Feb 18 </p>
            </div>
        </div>
        <div class="col-2">
            <div class="sign-tile">
                <div class="icon bg-pisces">
                    <img src="../static/images/pisces.png" alt="pisces">
                </div>
                <p>Pisces</p>
                <p>Feb 19 - Mar 20</p>
            </div>
        </div>
    </div>
</section>
<hr width="90%" size="2px" color="#999">

{% if signdata %}
<section class="text-center" style="margin: 5px;">
    <div class="card margin-5per-rl border">
        <div class="card-header text-center padding-20 noborder">
            <img src="{{ imgpath }}" id="imgtile" style="margin: 15px;">
            <h4>{{ signdata['_id'] }}</h4>
        </div>
        <div class="card-body text-center padding-10 noborder">
            <div class="row">
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Profession</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['profession'] }}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Luck</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['luck'] }}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Emotions</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['emotions'] }}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Health</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['health'] }}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Love</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['love'] }}</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="heading bg-dark text-light">
                        <h4>Travel</h4>
                    </div>
                    <div class="content">
                        <p>{{ signdata['travel'] }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center noborder">
            <div class="text-center paddin-20 text-white text-sm" style="width: 85%; margin: auto; padding: 5px; background: #341f92;">
                These Predictions are based on your sun signs. For more personlalized prediction, connect with an Astrologer on call/chat.
            </div>
        </div>
    </div>
</section>
{% endif %}
<div class="card-footer noborder bg-dark text-white padding10 text-center smallertext">Copyright &COPY; 2020 Apurva Jaiswal Software Aid Pvt. Ltd. All Rights Reserved</div>
{% endblock %}